POSTGRES_USER=usuario_exemplo
POSTGRES_PASSWORD=senha_exemplo
POSTGRES_DB=mailerweb_db
API_EXTERNAL_PORT=8080
DB_EXTERNAL_PORT=5433
PRODUCTION=False
DEBUG=True
POSTGRES_URI=postgresql+asyncpg://usuario_exemplo:senha_exemplo@db:5432/mailerweb_db
JWT_SECRET=coloque_uma_chave_secreta_aqui_para_desenvolvimento
JWT_EXPIRES_IN_HOURS=24